iframe {
    flex: auto;
}

body {
    font-family: "Arial", "sans-serif";
    font-size: medium;
}

.header {
    background-color: darkblue;
    color: white;
    padding: 2px;
}

.layout {
    display: flex;
    flex-basis: 60%;
}

.navigation {
    background-color: lightgray;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 20px;
}

.title {
    padding-left: 10px;
    font-style: italic;
}

.content {
    padding-left: 40px;
}