/* This is common styling for all pages*/

* {
    -webkit-flex:1;
    -ms-flex: 1;
    -moz-box-flex: 1;
}

/* This is the styling for the Index page*/

.IndexHeader {
    background-color: darkblue;
    color: white;
    padding: 2px;
    padding-left: 10px;
    font-family: "Arial", "sans-serif";
}

.IndexContent {
    display: flex;
    flex-basis: 60%;
    font-family: "Arial", "sans-serif";
}

.IndexNavigation {
    background-color: lightgray;
    padding-top: 2px;
    padding-left: 10px;
    font-family: "Arial", "sans-serif";
    font-size: small;
}

/* This is the styling for the Notes pages.*/

.Notes {
    padding-left: 20px;
    font-family: "Arial", "sans-serif";
}

.NotesContent {
    padding-left: 20px;
}
